rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {

        function canContributeToParkRequest() {
            return resource.data.park != null
            && resource.data.park.contributors != null
            && request.auth.uid in resource.data.park.contributors;
        }

        match /users/{userId} {
            allow create, list: if request.auth != null;
            allow get, update: if request.auth != null && request.auth.uid == userId;
            allow delete: if request.auth != null && request.auth.token.admin;
        }

        match /park-requests/{parkRequestId} {
            allow create: if request.auth != null;
            allow read: if request.auth != null && canContributeToParkRequest();
            allow update, delete: if request.auth != null && canContributeToParkRequest();
        }

        match /parks/{parkId} {
            allow read: if true;
            allow create, update, delete: if request.auth != null && (request.auth.token.admin || request.auth.token.admin);
        }
    }
}
